<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>

  <!-- Basic code style -->
  <!-- No tabs -->
  <module name="FileTabCharacter"/>
  <!-- Enforce UNIX line endings. -->
  <module name="RegexpMultiline">
      <property name="format" value="(?s:\r\n.*)"/>
  </module>
  <!-- no trailing whitespace -->
  <module name="RegexpSingleline">
    <property name="format" value="\s+$"/>
    <property name="message" value="Trailing whitespace"/>
  </module>

  <!-- Copyright header -->
  <module name="Header">
    <property name="headerFile" value="${projectDir}/../config/java.header"/>
    <property name="fileExtensions" value="java"/>
  </module>

  <module name="SuppressionFilter">
    <property name="file" value="${projectDir}/config/checkstyle-suppressions.xml"/>
  </module>

  <!-- Module custom checkers - all above this line should remain identical to file in $rootDir/config/checkstyle.xml -->

  <!-- javadoc -->
  <module name="JavadocPackage"/>

  <module name="TreeWalker">
    <!-- Allow suppression tags in the code e.g. CSOFF: AvoidStaticImport -->
    <module name="SuppressionCommentFilter">
      <property name="offCommentFormat" value="CSOFF\: ([\w\|]+)"/>
      <property name="onCommentFormat" value="CSON\: ([\w\|]+)"/>
      <property name="checkFormat" value="$1"/>
    </module>
    <module name="JavadocType">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocMethod">
      <property name="scope" value="public"/>
      <property name="allowUndeclaredRTE" value="true"/>
    </module>
    <module name="JavadocVariable">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocStyle">
      <property name="scope" value="public"/>
      <property name="checkFirstSentence" value="false"/>
    </module>
  </module>

</module>
